/* smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* body */

body {
  --at-apply: bg-night p-4 font-mono text-gray-400;
}

body {
  line-height: 1.6;
  transition: color 0.3s, background-color 0.3s;
}

/* links */

a {
  --at-apply: text-purple-200 no-underline;
}

a:hover {
  text-decoration: underline;
}

span a {
  color: inherit;
}

/* prose links */

.prose a:not(.prose .not-prose a) {
  --at-apply: text-purple-200;
}

/* prose code */

.prose code:not(.prose pre code) {
  --at-apply: font-mono text-green;
  white-space: normal; /* override `pre` where it would not wrap long lines */
}

/* block quotes */

blockquote {
  --at-apply: text-yellow;
}

blockquote::before {
  content: ">";
  position: absolute;
  left: 1rem;
}